@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Lato:wght@400;700&family=Rubik:wght@400;500;600&display=swap');

/* font-family: 'Barlow', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Rubik', sans-serif; 
  colores: cafe casinegro: #1d1d35;
    cafe: #4a4a5d; celeste:  #00d6f4; azuloscuro: #005b8c;
  */
 

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5{
  font-family: 'Lato', sans-serif;
  color: #4a4a5d;
}
body{
  box-sizing: border-box;
  min-width: 340px;
}
.container {
  overflow: hidden;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgb(0, 91, 140);
}
/*probando ***+**********/

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-weight: 900;
  margin: 1rem 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.carousel-caption p {
  width: 422px;
  color: #4a4a5d;
}
.carousel-caption {

  bottom: 3.25rem;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #fff !important;
}
@media (max-width: 768px) { 
  .carousel-caption {
    display:none;
  }
}
/**********  ESTILOS CON BOOSTRAP *******/

/* header */
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.3rem;
  padding-left: .5rem;
  
}
@media (max-width: 990px) { 
  .navbar-expand-lg .navbar-nav .nav-link {text-align: center;
  background: #efefef;
  line-height: 1.8rem;
  }
  li.nav-item a:hover{
    background-color: #75758430 !important;
  }
}
li.nav-item a{
  font-size: .92rem !important;
  font-family: 'Barlow', sans-serif;
  letter-spacing: .03rem;
}

h2.tituloPrincipal {
  color: #005B8C;
}
p.principal {
  font-size: 1.2rem;
  color: #4A4A5D;
}

/** fin header**/
section{
  padding: 5.2rem 0 5rem 0;
}
section.bgGradiente {
  background:#00d6f4;
  padding-top: 4rem;
}
.btn-primary {
  color: #4a4a5d;
  background-color: #00d6f4;
  border-color: #06b7d0;
}
.btn-secondary {

    color: #fff;
    background-color: #00d6f4;
    border-color: #03acc4;

}
@media (max-width: 576px) { 
  .bgGradiente .col-sm-6{
    padding-top: 2.2rem;
  }
  .bgGradiente .col-sm-6:first-child{
    padding-top: 0;
  }
 
  
}
.container-fluid.slider {
  
 
}
.texto-slider h3{
  font-size:2rem;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  color: rgb(79, 79, 79);
  font-weight: normal;
  margin: 0;
}
.carousel-caption.d-none.d-md-block h5 {
  font-size: 3.7rem;
  font-weight: 700;
}

.texto-slider h2{
  font-size:3.2rem;
  font-weight: bold;
}

@media (max-width: 688px) { 
  .texto-slider h2 {
    font-size: 2.7rem;
  }
}
@media (max-width: 425px) { 
  .texto-slider h2 {
    font-size: 2rem;
  }
}

.imagen img{
  width: 100%;
}
.row.slider{
  height:30rem
}

/* .col-md-6.texto-slider {
  display: flex;
  flex-direction: column;
  height: 32rem;
  justify-content: center;
} */
@media (max-width: 768px) { 
  .col-md-6.texto-slider.d-flex.flex-column.justify-content-center{
    text-align: center;
    margin-top: 4rem;
  }
  p.principal{
    font-size: 16px;
  }
  .imagen img{
    width: 280px; height:auto;
    margin: 0 auto;
  }
  .col-md-6.d-flex.justify-content-end.align-items-center {
    align-items: center !important;
  }
  .texto-slider h3{
    font-size: 1.4rem;
  }
}

/*   section gradient */
.bgGradiente h2, .bgGradiente h3{
  color: #4a4a5d;

}
.bgGradiente h2{
 font-size: 3rem;
 font-weight: bold;
 line-height: 1.6;
}
.bgGradiente h3{
 font-size: 1.1rem;
}
@media (max-width: 1200px) { 
  .bgGradiente h2{
    font-size: 2.3rem;
  }
}
@media (max-width: 990px) { 
  .bgGradiente h2{
    font-size: 1.1.7rem;
  }
}
.bgGradiente img {
  box-shadow: 2px 2px 5px -2px #000;
}

/* Razones*/
.razones .col img {
  width: 334px;
}
.razones ul li {
  margin-top: 1.2rem;
}
@media (max-width: 768px) { 
  .bgGradiente .col {
    padding-top: 2.6rem;
  }
}
.col-md-6.d-flex.justify-content-center img {
  width: 350px;
}
.fa.fa-check {
  margin-right: .5rem;
}
.porque {
  font-size: 2.5rem !important;
  font-weight: bold;
  
}

section.portafolio{
  background-image: url(../img/bg-image.jpg);
  background-position: center center;
  background-size: cover;
  
}
section.portafolio .container h2 {
  color: #00d6f4 !important;
  font-size: 2rem;
  padding: 12px 0;
}


 /*************  Portafolio *********/

 
.portafolio h4{
  text-align: center;
}
.portafolio h4 a {
  color: #fff;
  font-size: 18px;
  line-height: 3rem;
  font-weight: lighter;
  letter-spacing: .05rem;
  text-decoration: none;
  
  
}
 /*************  Blog *********/

  .blog h2 {
    padding: 1rem 0 0rem;
    line-height: 2rem;
  }
  .blog p {
    text-align: left;
  }
  .blog .btn {
    line-height: 3rem;
    background: #00d6f4;
    color: #fff;
    align-items: center;
    margin-top: 1rem;
    display: flex;
    width: 40%;
    justify-content: center;
  }
  .blog .btn:hover {
    background: #00ebf7;
  }
.entry {
  font-size: 14px;
}
.entry span{
  font-weight: bold;
}


 /*************  Footer *********/
 footer{
  background: #1d1d35;
  padding-top: 4rem;

}
footer .container {
  padding-bottom: 1.3rem;
}
footer p {
  color: gainsboro;
}

footer h4{
  font-size: 1.4rem;
  padding-bottom: .7rem;
  color: #f7f7f7;
}
.lista-footer {
  color: #00d6f4;
  font-weight: 300;
  letter-spacing: .03rem;
}
 p.pie{
  background: #4a4a5d;
  text-align: center;
  padding: .8em 0;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .07em;
  margin-top: 1rem;
}




/* Contacto*/
section.gris {
  padding: 2rem 9rem;
  background: #F0F0F0;
}

/** contacto ***/
.datos-contacto {
  background: #ebebec;
  padding: 4rem 3rem 2.5rem 3rem;

}

/**    form **/

  form {
    background: #005b8c;
    padding: 2rem 1.9rem;
  }
  input, textarea {
    padding: .8rem;
    margin: .2rem 0 .9rem;
    width: 94%;
    border-radius: .3rem;
    border: none;
    background-color: #f1f1f1;
  }
  form label {
    color: #fff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }
  input[type="submit"] {
    background: #55f8ea;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    width: 99%;
  }
  input[type="submit"]:hover{
    background: #00d6f4;

  }
  #mensaje {
    height: 100px;
    color: #888888;
    font-size: 14px;  
    font-family: 'Lato', sans-serif;
  }
 
  .container.title h3 {
    text-transform: uppercase;
    color: #8a8a8a;
  }




/********** FIN ESTILOS CON BOOSTRAP *******/

/* img{
  width: 100%;
} */





ul.lista-footer li {
  list-style: none;
  line-height: 2rem;
  font-weight: bold;
  font-family: 'Lato';
}
ul li a{
    text-decoration: none;
    list-style: none;
    color: #4a4a5d;
    text-transform: uppercase;
    font-weight: 500;
}
ul li a:hover {
  color: #00d6f4;
}
ul {
  margin-left: 0 !important;
  list-style: none;
}
nav.container {
  width: 98%;
}



  

.contacto h2 {
  line-height: 3.3rem;
} 

  
  .portafolio img:hover{
    transform: scale(1.1);
    transition: all .4s
  }
  
  

 
